.Modal {
  position: absolute;
  top: 10vh;
  left: 26vw;
  border-radius: 5px;
  padding: 2vh 2vw;
  width: 45vw;
  height: 70vh;
  background-color: black;
}

.container {
  margin-left: 1.5vw;
  margin-top: 5vh;
  height: 100%;
}

.input-container {
  display: flex;
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.input-box label {
  margin-bottom: 0.5vh;
  font-weight: 900;
}

.input-box input,
textarea {
  margin-bottom: 3vh;
  background-color: #2C2C2C;
  border: none;
  outline: none;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 50%;
  position: relative;
}

.image-box img {
  border: solid 1px #2C2C2C;
  border-radius: 8px;
  height: 80%;
  position: absolute;
  bottom: 8vh;
}

.image-box input {
  background-color: #2C2C2C;
  outline: none;
  border: none;
  margin-top: 1vh;
  width: 70%;
  height: 11%;
  text-align: center;
}
.status{
  margin-bottom: 3vh;
}
.status input{
  margin-top: 1.5vh;
  margin-right: 0.5vw;
}
.status label{
  margin-right: 1vw;
}
.button{
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}
.button button{
  margin-right: 1vw;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 4.5vw;
  background-color: rgb(18, 17, 17);
  color: #fff;
  font-size: 0.75vw;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  left: 1.7vw;
  bottom: 1vh;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}